
body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    width: clamp (28.0rem, 50%, 120rem); 
    
}
.post-link {
    text-decoration:navajowhite;
}

header {
    min-height: 35.0rem;
    background-color:white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1446329813274-7c9036bd9a1f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;
    position: relative; 
}

header > * {
    z-index: 2;
}

header::after {
    content: "";
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    left: 0rem;
    background-color: rgba(1,1,1, 0.45);  
}

.profile-image {
    height: 10.0rem;
    width: 10.0rem;
    background-color: white;
    border-radius: 50%;
    background-image: url(https://media.istockphoto.com/vectors/young-woman-working-at-home-vector-id1199842427);
    background-size:cover;
}

.profile-name {
    font-size: 3rem;
    font-weight: bold;
    position: center;
}
.subtext h4{
 margin-top: 0.6rem; 
 align-items: center;  
 justify-content: center;
 
}

.main { 
  margin-top: 3.2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3.5rem;

}

.main-container {
    max-width: 75.0rem;
    width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    
}

.post {
    display:flex;
    border: 0.09rem solid; 
    border-radius: 0.8rem;
    min-height: 10rem;
    overflow: hidden;
    transition:all 0.3s ease;
   
}

.post-image {
   flex-basis: 40%; 
   background-image: url(https://images.unsplash.com/photo-1509966756634-9c23dd6e6815?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=710&q=80);
   background-size: cover;
   background-position: center;
}

.post-content {
    flex-basis: 60%;
    padding: 2.4rem;
}

.post-date {
font-size: 1.2rem;
color: #adb5bd;
font-weight: 600;
}

.post-title {
margin-top: 1.6rem;
font-size: 2.0em;
color: #333;
font-weight: 600;
}

.post-title h4 {
    margin: 0;
}

.post-text {
    margin-top: 0.4rem;
    color: #495057;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4;
    max-height: 6.5rem;
   display: inline-block;
   color: black;
  animation: fadeIn linear 2.3s;
  -webkit-animation: fadeIn linear 2.3s;
  -moz-animation: fadeIn linear 2.3s;
  -o-animation: fadeIn linear 2.3s;
  -ms-animation: fadeIn linear 2.3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
    
.post-image2 {
    flex-basis: 40%; 
    background-image: url(https://images.unsplash.com/photo-1579468118864-1b9ea3c0db4a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;
 }
 
 .post-content2 {
     flex-basis: 60%;
     padding: 2.4rem;
 }
 
 .post-date2 {
 font-size: 1.2rem;
 color: #adb5bd;
 font-weight: 600;
 }
 
 .post-title2 {
 margin-top: 1.6rem;
 font-size: 1.5em;
 color: #333;
 font-weight: 600;
 }
 
 .post-title2 h4 {
     margin: 0;
 }
 .post-text2 {
     margin-top: 0.4rem;
     color: #495057;
     font-weight: 400;
     font-size: 1.1em;
     line-height: 1.4;
     max-height: 8.5rem; 
   display: inline-block;
   color: black;
   animation: fadeIn linear 4.67s;
  -webkit-animation: fadeIn linear 4.76s;
  -moz-animation: fadeIn linear 4.67s;
  -o-animation: fadeIn linear 4.67s;
  -ms-animation: fadeIn linear 4.67s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

 .post-image3 {
    flex-basis: 40%; 
    background-image: url(https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;
 }
 
 .post-content3 {
     flex-basis: 60%;
     padding: 2.4rem;
 }
 
 .post-date3 {
 font-size: 1.2rem;
 color: #adb5bd;
 font-weight: 600;
 }
 
 .post-title3 {
 margin-top: 1.6rem;
 font-size: 1.5em;
 color: #333;
 font-weight: 600;
 }
 
 .post-title3 h4 {
     margin: 0;
 }
 .post-text3 {
     margin-top: 0.4rem;
     color: #495057;
     font-weight: 400;
     font-size: 1.1em;
     line-height: 1.4;
     max-height: 4.5rem;
     margin-bottom: 0.4rem;
   display: inline-block;
  color: black;
  animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.post:hover {
    transform: translate3d(0, -0.5rem, 0);
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0, 0.5);
}


@media (min-width:140.0rem) {
  html {
    font-size: 50%;
    justify-items: center;
  }
}

@media (min-width:120.0rem) {
  html {font-size: 50%;
  justify-items: center;} 
}

@media (max-width:99.0rem) {
  html {font-size: 50%;}
}

@media (max-width:80.0rem) {
  html {font-size: 50%;}
}

@media (max-width:60.0rem) {
  html {font-size: 50%;}
}

@media (max-width:48.0rem) {
  html {font-size: 50%;
  } 
  .profile-name {font-size: 2.0rem;
  }
 } 
 @media (max-width:24.0rem) {
  .subtext h4 {font-size: 1.25rem;
  } }

  /*@media (min-height: 80.0rem) {
    .main {margin-bottom: 1.25rem; }
    .post-text3 {margin-bottom: 0rem;
    max-height: 1rem;}
    .post {
      max-height: 1rem;
    }
} */
