body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 133vh; 
}

.post-link {
    text-decoration:navajowhite;
}

header {
    min-height: 350px;
    background-color:white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/background_image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
header > * {
    z-index: 2;
}
header::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(1,1,1, 0.45);
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    background-image: url(/assets/profile_picture.jpeg);
    background-size:cover;
}

.profile-name {
    font-size: 3em;
    font-weight: bold;
}
.subtext h4{
 margin-top: 6px; 
 align-items: center;  
 justify-content: center;
 
}

.main { 
  margin-top: 32px;
  display: flex;
  justify-content: center;

}

.main-container {
    max-width: 750px;
    min-width: 600px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;

}

.post {
    display:flex;
    border: 0.09px solid; 
    border-radius: 8px;
    min-height: 200px;
    overflow: hidden;
    transition:all 0.3s ease;
}

.post-image {
   flex-basis: 40%; 
   background-image: url(https://images.unsplash.com/photo-1509966756634-9c23dd6e6815?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=710&q=80);
   background-size: cover;
   background-position: center;
}

.post-content {
    flex-basis: 60%;
    padding: 24px;
}

.post-date {
font-size: 12px;
color: #adb5bd;
font-weight: 600;
}

.post-title {
margin-top: 16px;
font-size: 1.5em;
color: #333;
font-weight: 600;
}

.post-title h4 {
    margin: 0;
}
.post-text {
    margin-top: 4px;
    color: #495057;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.4;
    max-height: 65px;
    
}

.post-image2 {
    flex-basis: 40%; 
    background-image: url(https://images.unsplash.com/photo-1579468118864-1b9ea3c0db4a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;
 }
 
 .post-content2 {
     flex-basis: 60%;
     padding: 24px;
 }
 
 .post-date2 {
 font-size: 12px;
 color: #adb5bd;
 font-weight: 600;
 }
 
 .post-title2 {
 margin-top: 16px;
 font-size: 1.5em;
 color: #333;
 font-weight: 600;
 }
 
 .post-title2 h4 {
     margin: 0;
 }
 .post-text2 {
     margin-top: 4px;
     color: #495057;
     font-weight: 400;
     font-size: 1.1em;
     line-height: 1.4;
     max-height: 85px;
     
 }

 .post-image3 {
    flex-basis: 40%; 
    background-image: url(https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center;
 }
 
 .post-content3 {
     flex-basis: 60%;
     padding: 24px;
 }
 
 .post-date3 {
 font-size: 12px;
 color: #adb5bd;
 font-weight: 600;
 }
 
 .post-title3 {
 margin-top: 16px;
 font-size: 1.5em;
 color: #333;
 font-weight: 600;
 }
 
 .post-title3 h4 {
     margin: 0;
 }
 .post-text3 {
     margin-top: 4px;
     color: #495057;
     font-weight: 400;
     font-size: 1.1em;
     line-height: 1.4;
     max-height: 45px;
     margin-bottom: 4px;
     
 }
.post:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0, 0.5);
}